@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700;800&display=swap");

* {
  font-family: "JetBrains Mono", monospace, ui-monospace !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #f3f4f6;
  -webkit-box-shadow: 0 0 0px 1000px #030712 inset;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #030712;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 3px;
}
